@charset "utf-8";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif+TC&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
/* .kanit-thin {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: normal;
} */

::-webkit-scrollbar {
  display: none;
}

:root {
  /* color */
  --color-primary: #44ABCA;
  --color-primary-second: #255f79;
  --color-primary-tertiary: #b4e2ed;

  --color-secondary: #FFE500;
  --color-secondary-second: #d1aa00;

  --color-tertiary: #E11915;
  --color-tertiary-second: #c51410;

  --color-primary-contrast: #ffffff;
  --color-secondary-contrast: #000000;
  --color-tertiary-contrast: #ffffff;

  --background-black: #222223;
}

main {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  scroll-behavior: smooth;

  font-family: "Roboto", sans-serif;
}

.button:focus {
  outline: none;
}

.button {
  color: #000000;
  transition: background-color 0.3s ease;
}

.header-acc {
  --height-header: 5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  height: var(--height-header);

  font-size: var(--height-header);

  background-color: var(--color-primary);

  img {
    border-radius: 5rem;
    width: auto;
    height: 60%;
  }

}

h1 {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Kanit", sans-serif;
  color: var(--color-secondary);

  margin-left: 1rem;

  span {
    color: var(--color-tertiary);
  }
}

.slogan {
  font-weight: 600;
  color: var(--color-secondary-contrast);
  font-size: 1.8rem;

  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;

  padding: 1rem;

  max-width: 600px;

  border-radius: 1rem;
  box-shadow: 2px 2px 20px -10px rgba(0, 0, 0, 0.3);

  text-align: center;

  span {
    color: var(--color-primary);
  }
}

.description {
  text-align: center;
  padding: 1rem;
  max-width: 595px;
  margin: auto;
}

.bannier-acc {
  margin-top: 1rem;
  width: 100vw;
  height: 15rem;
  object-fit: cover;
}

.join-acc {
  margin: auto;
  display: block;

  padding: 0.9rem;

  text-decoration: none;
  color: var(--color-primary-contrast);
  background-color: var(--color-primary);

  text-align: center;
  font-weight: 400;

  width: 195px;

  border-radius: 0.5rem;
}

/* -login */

.logo-login {
  width: 5rem;
  border-radius: 1rem;
  margin: auto;
}

.body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: var(--color-primary-contrast);
  background-color: var(--color-primary);
}

a:hover {
  text-decoration: none;
}

.link {
  color: var(--color-primary-contrast);
}

.link:hover {
  color: #c4c3ca;
}

p {
  font-weight: 500;
  font-size: 14px;
}

h4 {
  font-weight: 600;
}

h6 span {
  padding: 0 20px;
  font-weight: 700;
}

.section {
  position: relative;
  width: 100%;
  display: block;
}

.full-height {
  min-height: 100vh;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  display: none;
}

.checkbox:checked+label,
.checkbox:not(:checked)+label {
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: var(--color-primary-contrast);
}

.checkbox:checked+label:before,
.checkbox:not(:checked)+label:before {
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: var(--color-primary-contrast);
  background-color: #020305;
  font-family: 'unicons';
  content: '\eb4f';
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}

.checkbox:checked+label:before {
  transform: translateX(44px) rotate(-270deg);
}

.card-3d-wrap {
  position: relative;
  width: 440px;
  max-width: 100%;
  height: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
}

.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-second);
  position: absolute;
  border-radius: 6px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card-back {
  transform: rotateY(180deg);
}

.checkbox:checked~.card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}

.center-wrap {
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}

.form-group {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}

.form-style {
  padding: 13px 20px;
  padding-left: 55px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: var(--color-primary-contrast);
  background-color: var(--color-primary);
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
}

.form-style::placeholder {
  color: var(--color-primary-contrast);
}

.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
}

.input-icon {
  position: absolute;
  top: 0;
  left: 18px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  color: var(--color-tertiary);
}

.btn {
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  align-items: center;
  background-color: var(--color-secondary-second);
  color: #000000;
}

.btn:hover {
  background-color: #000000;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, .2);
}


/* APP */

.header-app {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 4rem;
  width: 100vw;
  background-color: var(--color-primary);

  .logo-app {
    height: 60%;

    border-radius: 5rem;
  }
}

/* app */

h2 {
  text-align: center;
  color: var(--color-secondary);
  font-size: 3rem;
  width: 100%;
}

.body {
  display: flex;
  background-color: var(--background-black);
}

#header-container-col {
  position: static;
  height: 100vh;
  width: 20rem;
}

#header-col {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color-primary);
  height: 100vh;
  width: 15rem;

  .logo-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: auto;
    margin-top: 2rem;

    h1 {
      font-size: 1.5rem;
      font-weight: 700;
      color: var(--color-secondary);

      margin-left: 1rem;

      span {
        color: var(--color-tertiary);
      }
    }

    img {
      border-radius: 1rem;
      width: 5rem;
    }
  }
}

.button-col {
  padding: 0.4rem 0;
  color: var(--color-primary-contrast);
  background-color: var(--color-primary);
  border: 0;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  width: 100%;
}

.button-col:last-child {
  margin-bottom: auto;
}

.button-col:focus {
  outline: none;
}

.button-col:hover {
  color: var(--color-secondary);
  background-color: var(--color-primary-second);
}

.button-col.select {
  color: var(--color-secondary);
  background-color: var(--color-primary-second);
}

#logout-col {
  margin-top: 2rem;
}

#logout-col:hover {
  color: var(--color-tertiary);
}

#app-corp {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;

  padding-top: 3rem;
  width: 100%;
}

.card-col {
  width: 30%;
  min-width: 290px;
  max-width: 360px;
  max-height: 90%;
  height: 30rem;
  /* border: 0.3rem solid var(--color-primary-second); */
  border-radius: 1rem;
  margin: 1.4rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--color-primary-tertiary);
  box-shadow: 0px 10px 21px 0px rgba(37, 94, 121, 0.25);
}

.card-title-col {
  margin: 0;
  text-align: center;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.3rem;
  background-color: var(--color-primary-second);
  color: var(--color-primary-contrast);
}

.card-content-col {
  overflow: auto;
}

.task-view-col {
  width: 100%;

  padding: 1rem;
  padding-top: 0.5rem;

  border-top: 1px solid var(--color-primary-second);
  border-bottom: 1px solid var(--color-primary-second);

  background-color: var(--color-primary);

  .task-description-col {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    color: #000000;
  }

  .task-title-col {
    color: var(--color-tertiary);
    text-align: center;
    font-size: 1.2rem;
    font-family: "Kanit", sans-serif;
    ;
  }

  .task-create-col {
    text-align: right;
    color: #000000;
  }

  .task-make-befor-col {
    text-align: right;
    color: #000000;
  }
}

.finance-yoursold-col {
  color: black;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;

  .finance-sold-col.neg {
    color: red;
  }

  .finance-sold-col.pos {
    color: green;
  }
}

.finance-youpaye-col {
  color: black;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
}

.finance-last-col {
  color: black;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
}

.finance-view-col {
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  padding: 0.8rem;

  border-top: 1px solid var(--color-primary-second);
  border-bottom: 1px solid var(--color-primary-second);

  background-color: var(--color-primary);
}

.comunicate-col {
  justify-content: space-evenly;
  width: 100%;

  padding: 0.8rem;

  border-top: 1px solid var(--color-primary-second);
  border-bottom: 1px solid var(--color-primary-second);

  background-color: var(--color-primary);

  .comunicate-title-col {
    text-align: center;
    color: var(--color-tertiary);
    font-size: 1.3rem;
  }

  .comunicate-content-col {
    color: #000000;
  }

  .comunicate-date-col {
    color: #000000;
    text-align: right;
  }
}

.container-financecol {
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 0.2fr 1fr 1fr;
  padding: 1rem;
  grid-template-areas:
    "sold sold"
    "youowe lastexp"
    "oweyou addexp";
  width: 100%;
  min-height: 100%;
  column-gap: 1rem;
  row-gap: 1.5rem;

  .solde-financecol {
    grid-area: sold;
    width: 100%;

    .sold-title-financecol {
      font-size: 1.9rem;
      color: var(--color-secondary);
      font-weight: 700;
    }
  }

  .you-owe-financecol {
    grid-area: youowe;
    /* padding: 0.5rem; */
    width: 100%;
    height: 100%;
    /* border: 0.3rem solid var(--color-primary-second); */
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--color-primary-tertiary);
    box-shadow: 0px 10px 21px 0px rgba(37, 94, 121, 0.25);

    .you-owe-title-financecol {
      width: 100%;
      margin: 0;
      padding: 0;
      background-color: var(--color-primary-second);
      text-align: center;
      font-size: 1.3rem;
    }

    .you-owe-content-financecol {
      overflow: auto;

      .line {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: var(--color-primary);
        padding: 1rem;
        border-bottom: 2px solid var(--color-primary-second);

        .who {
          color: #000000;
          font-size: 1.3rem;
        }

        .pay {
          background-color: var(--color-secondary);
          cursor: pointer;
          padding: 0.2rem 1rem;
          border-radius: 5px;
          border: 0;
          margin: 0 1.3rem;
        }

        .pay:hover {
          background-color: var(--color-secondary-second);
        }

        .mutch {
          font-size: 1.3rem;
          color: #000000;
        }

        .edit {
          display: flex;
          flex-direction: column;
          
          .delete {
            border: 0;
            background-color: var(--color-tertiary);
            padding: 0.3rem 0.8rem;
            border-radius: 5px;
            cursor: pointer;
            margin-bottom: 5px;
            font-size: 10px;
          }

          .delete:hover {
            background-color: var(--color-tertiary-second);
          }

          .edit- {
            border: 0;
            background-color: var(--color-secondary);
            padding: 0.3rem 0.8rem;
            border-radius: 5px;
            cursor: pointer;
            font-size: 10px;
          }

          .edit-:hover {
            background-color: var(--color-secondary-second);
          }
        }
      }
    }
  }

  .last-expence-financecol {
    grid-area: lastexp;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--color-primary-tertiary);
    box-shadow: 0px 10px 21px 0px rgba(37, 94, 121, 0.25);

    .last-expence-title-financecol {
      width: 100%;
      margin: 0;
      padding: 0;
      background-color: var(--color-primary-second);
      text-align: center;
      font-size: 1.3rem;
    }

    .last-expence-content-financecol {
      overflow: auto;

      .line {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: var(--color-primary);
        padding: 1rem;
        border-bottom: 2px solid var(--color-primary-second);

        .title {
          font-size: 1.3rem;
          color: var(--color-tertiary);
        }

        .desc {
          color: #000000;
          width: 40%;
        }

        .price {
          color: var(--color-secondary);
          font-size: 1.3rem;
        }

        .who {
          color: #000000;
        }

        .edit {
          display: flex;
          flex-direction: column;
          
          .delete {
            border: 0;
            background-color: var(--color-tertiary);
            padding: 0.3rem 0.8rem;
            border-radius: 5px;
            cursor: pointer;
            margin-bottom: 5px;
            font-size: 10px;
          }

          .delete:hover {
            background-color: var(--color-tertiary-second);
          }

          .edit- {
            border: 0;
            background-color: var(--color-secondary);
            padding: 0.3rem 0.8rem;
            border-radius: 5px;
            cursor: pointer;
            font-size: 10px;
          }

          .edit-:hover {
            background-color: var(--color-secondary-second);
          }
        }
      }
    }
  }

  .owe-you-financecol {
    grid-area: oweyou;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--color-primary-tertiary);
    box-shadow: 0px 10px 21px 0px rgba(37, 94, 121, 0.25);

    .owe-you-title-financecol {
      width: 100%;
      margin: 0;
      padding: 0;
      background-color: var(--color-primary-second);
      text-align: center;
      font-size: 1.3rem;
    }

    .owe-you-content-financecol {
      overflow: auto;

      .line {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: var(--color-primary);
        padding: 1rem;
        border-bottom: 2px solid var(--color-primary-second);

        .who {
          color: #000000;
          font-size: 1.3rem;
        }

        .pay {
          background-color: var(--color-secondary);
          cursor: pointer;
          padding: 0.2rem 1rem;
          border-radius: 5px;
          border: 0;
          margin: 0 1.3rem;
        }

        .pay:hover {
          background-color: var(--color-secondary-second);
        }

        .mutch {
          font-size: 1.3rem;
          color: #000000;
        }

        .edit {
          display: flex;
          flex-direction: column;
          
          .delete {
            border: 0;
            background-color: var(--color-tertiary);
            padding: 0.3rem 0.8rem;
            border-radius: 5px;
            cursor: pointer;
            margin-bottom: 5px;
            font-size: 10px;
          }

          .delete:hover {
            background-color: var(--color-tertiary-second);
          }

          .edit- {
            border: 0;
            background-color: var(--color-secondary);
            padding: 0.3rem 0.8rem;
            border-radius: 5px;
            cursor: pointer;
            font-size: 10px;
          }

          .edit-:hover {
            background-color: var(--color-secondary-second);
          }
        }
      }
    }
  }

  .add-expence-financecol {
    grid-area: addexp;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--color-primary-tertiary);
    box-shadow: 0px 10px 21px 0px rgba(37, 94, 121, 0.25);

    .add-expence-title-financecol {
      width: 100%;
      margin: 0;
      padding: 0;
      background-color: var(--color-primary-second);
      text-align: center;
      font-size: 1.3rem;
    }

    form {
      margin: 0 auto;
      padding-top: 1rem;
      border: 0;
      border-radius: 5px;
      background-color: transparent;
    }
    
    .input-container {
      display: flex;
      gap: 10px;
      margin-bottom: 20px;
      margin-top: 1rem;
      align-items: center;
    
      input[name="price"] {
        width: 50%;
      }
    }
    
    label {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 5px;
      color: #000000;
      display: none; /* Cache les labels */
    }
    
    input[type="text"], textarea {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      font-size: 14px;
      width: 100%;
      box-sizing: border-box;
      position: relative;
    }

    textarea {
      min-height: 120px;
    }
    
    input[type="text"]::placeholder, textarea::placeholder {
      color: #999;
    }
    
    textarea {
      resize: vertical;
    }
    
    input[type="submit"] {
      margin-top: 0.5rem;
      padding: 10px 15px;
      border: none;
      border-radius: 3px;
      background-color: var(--color-secondary);
      color: black;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    
    input[type="submit"]:hover {
      background-color: var(--color-secondary-second);
    }
    
  }
}

.fc-toolbar {
  @apply flex justify-between items-center p-4 bg-gray-100;
}

.fc-button {
  @apply bg-blue-500 text-white px-4 py-2 rounded;
}

.fc-button:hover {
  @apply bg-blue-600;
}

.fc-timegrid-slot {
  @apply text-black;
}

.fc-daygrid-day {
  @apply text-black;
}

.fc-toolbar-title {
  font-weight: bold;
  color: red;
}

.fc-col-header-cell-cushion {
  color: red !important;
}

.card-display-tasks {
  max-height: 35rem;
}

.task-list {
  max-height: 28rem;
}